<p>home-page works!</p>
<!-- <div class="dashboard-container">
<app-top-used-tags-chart></app-top-used-tags-chart>

<app-about></app-about>
</div> -->



<div class="home-container">
    <!-- Left: Graph and Add User -->
    <div class="main-section">
      <mat-card>
        <mat-card-title>Upload Statistics</mat-card-title>
        <mat-card-content>
          <app-top-used-tags-chart></app-top-used-tags-chart>
        </mat-card-content>
      </mat-card>
    </div>
  
    <!-- Right: About -->
    <div class="about-section">
      <mat-card>
        <mat-card-title>About</mat-card-title>
        <mat-card-content>
          <app-about></app-about>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  







<!-- <app-add-admin></app-add-admin>the function in the server is not good -->